<form action="/store/favourite" method="post">
  <button
    class="px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
    type="submit"
  >
    ❤︎ Favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>" />
</form>
