<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/nav") %>
    <main>
      <h1>Hey this is Your reserve</h1>
    </main>
  </body>
</html>
